{% extends 'layout.html' %}
{% load static %}


{% block content %}
<div class="inicio container-fluid text-center mx-auto rounded">
    <div class="row">
        <div class="col">
            <div class="container align-items-center font-color1">
                <img src="{% static 'images/hero.png'%}" class="img-fluid pt-4" alt="...">
                <h4 class="card-title ">Fernando Gonzalez</h4>
                <h5 class="">Desarrollador</h5>
                <p class="card-text">PYTHON | DJANGO</p>
                <a href="" class="fs-2 font-color1"><i class="fa-brands fa-github"></i></a>
                <a href="" class="fs-2 font-color1"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="container pt-5 font-color1" id="sobremi">
                <h3 class="text-center">SOBRE MI</h3>
                <p class="text-center"><span>Hola, soy Fernando Gonzalez</span> y soy desarrollador Python y Django, ademas tengo conocimientos en HTML5, CSS3, Bootstrap y GNU/Linux que uso como unico sistema. Cada dia estoy aprendiendo algo nuevo o practicando lo ya aprendido para mejorar mis habilidades.</p>
                <div class="row">
                    <div class="col col-xs">
                        <h4>Datos Personales</h4>
                        <ul>
                            <li>
                                <span>Cumpleaños</span>
                                14-03-1990
                            </li>
                            <li>
                                <span>Telefono</span>
                                3412660077
                            </li>
                            <li>
                                <span>Email</span>
                                fernandoemanuelgonzalez1990@gmail.com
                            </li>
                        </ul>
                    </div>
                    <div class="col col-xs container">
                        <h4>Intereses</h4>
                        <div class="col-8 col-sm-12 container">
                            <div class="row text-center gap-3 p-1 ">
                              <div class="col border border-2 rounded p-2">
                                <div class="row"></div>
                                <h5>LINUX</h5>
                                <i class="fa-brands fa-linux fs-1"></i>
                              </div>
                              <div class="col border border-2 rounded p-2">
                                <h5>PYTHON</h5>
                                <i class="fa-brands fa-python fs-1"></i>
                              </div>
                              <div class="col border border-2 rounded p-2">
                                <h5>WEB</h5>
                                <i class="fa-brands fa-html5 fs-1"></i>
                              </div>
                              <div class="col border border-2 rounded p-2">
                                <h5>APRENDER</h5>
                                <i class="fa-solid fa-brain fs-1"></i>
                              </div>
                            </div>

                            <div class="row text-center gap-3 p-1">
                              <div class="col border border-2 rounded p-2">
                                <h5>VIAJAR</h5>
                                <i class="fa-solid fa-motorcycle fs-1"></i>
                              </div>
                              <div class="col border border-2 rounded p-2">
                                <h5>ACAMPAR</h5>
                              <i class="fa-solid fa-campground fs-1"></i>
                              </div>
                              <div class="col border border-2 rounded p-2">
                                <h5>LIBROS</h5>
                              <i class="fa-solid fa-book fs-1"></i>
                              </div>
                              <div class="col border border-2 rounded p-2">
                                <h5>HUERTA</h5>
                              <i class="fa-solid fa-seedling fs-1"></i>
                              </div>
                            </div>
                            </div>
                        </div>
                    </div>
              </div>
<div class="container p-5" id="skills">
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <h4 class="text-center">Technical Skill</h4>
                    <div class="progress mb-2">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Python 75%</div>
                    </div>
                    <div class="progress mb-2">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Django 50%</div>
                    </div>
                    <div class="progress mb-2">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">HTML5 80%</div>
                    </div>
                    <div class="progress mb-2">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">CSS3 70%</div>
                    </div>
                    <div class="progress mb-2">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Bootstrap 50%</div>
                    </div>
                    <div class="progress mb-2">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Javascrip 40%</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <h4 class="text-center">Profesional Skill</h4>
                    <div class="progress mb-2">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">Comunicacion 90%</div>
                    </div>
                    <div class="progress mb-2">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Trabajo en Equipo 100%</div>
                    </div>
                    <div class="progress mb-2">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Creatividad 80%</div>
                    </div>
                    <div class="progress mb-2">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Dedicacion 100%</div>
                    </div>
                    <div class="progress mb-2">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Resoluciom de problemas 80%</div>
                    </div>
                  </div>
                </div>
              </div>
<div class="container font-color1">
    <h3 class="text-center">Certificaciones</h3>
    <div class="row">
        {% for c in cert %}
            <div class="col m-2 p-2 border rounded border-1 bg-light">
                <h4>{{ c.title }}</h4>
                <h5>{{ c.instituto }}</h5>
                <p>{{ c.date | date:'d-m-Y' }}</p>
                <a href="{{ c.certificacion }}" class="text-decoration-none font-color1">CERTIFICACION</a>
                <p>{{ c.description | safe}}</p>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container mx-auto row my-4 pt-4 text-center font-color1">
    <h3>Portfolio</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda, reprehenderit. Molestiae perspiciatis quod reprehenderit. Natus neque sapiente soluta tempore?</p>

    {% for p in projects %}

    <div class="col-md-4 ">
        <div class="card bg-light card-project">
            <img src="{{p.image.url}}" alt="{{p.title}}" class="card-img-top">
            <div class="card-body">
                <p class="fw-bold fs-4">{{p.title}}</p>
                <p class="pt-3 fw-bold">{{p.lenguaje}}</p>
                <p>{{p.description}}</p>
                <a href="{{p.url}}" class="text-decoration-none fw-bold px-5 py-1 bg-color1 text-light rounded" target="_blank">Ir al Proyecto</a>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}
